{% extends "base.html.twig" %}

{% block body %}
    <h2>Nouveau produit</h2>
    <form action="" method="post">
        Nom : <input type="text" name="name">
        Quantité : <input type="text" name="quantity">
        <input type="submit" value="Ajouter">
    </form>
{% endblock %}